!!! 5
%html
  %head
    %title
      Sinatra Named Routes
    %link(rel="stylesheet" href="basic.css" type="text/css" charset="utf-8")
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    
  %body
    %h1
      Sinatra Named Routes
    %p
      … add a very basic mechanism to have a helper to generate 'routes' (routing blocks or whatever they should be called in sinatra) and at the same time provide a helper method to generate urls for just that route.
